<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="color: pink;">Welcome to our page!</h1>
    <img style="height: 150px;" src="https://tse2.mm.bing.net/th/id/OIP.nznqUJKqU1sVVXxqLwp60QHaEK?rs=1&pid=ImgDetMain&o=7&rm=3" alt="">

    <div class="navigation"></div>
    <a href="{{ url_for('contact') }}">Contact</a>
    <a href="{{ url_for('manual') }}">Manual</a>

    

</body>
</html>
