.ctverec{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border: 4px solid black;
    display: inline-block;
}

.ctverec1{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border: 4px solid black;
    display: inline-block;
}